<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9bd5b0">  <td>19/03/03 18:01:40</td>   <td>0</td> <td title="&lt;&lt;ProjectMethods.afterSuite()[pri:0, instance:com.framework.testcases.TC001@5383967b]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1857815974</td>   <td></td> </tr>
<tr bgcolor="9bd5b0">  <td>19/03/03 18:01:10</td>   <td>-29876</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeClass()[pri:0, instance:com.framework.testcases.TC001@5383967b]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1857815974</td>   <td></td> </tr>
<tr bgcolor="9bd5b0">  <td>19/03/03 18:01:11</td>   <td>-28572</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeMethod()[pri:0, instance:com.framework.testcases.TC001@5383967b]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1857815974</td>   <td></td> </tr>
<tr bgcolor="9bd5b0">  <td>19/03/03 18:01:27</td>   <td>-12856</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeMethod()[pri:0, instance:com.framework.testcases.TC001@5383967b]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1857815974</td>   <td></td> </tr>
<tr bgcolor="9bd5b0">  <td>19/03/03 18:01:09</td>   <td>-30622</td> <td title="&gt;&gt;ProjectMethods.beforeSuite()[pri:0, instance:com.framework.testcases.TC001@5383967b]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1857815974</td>   <td></td> </tr>
<tr bgcolor="9bd5b0">  <td>19/03/03 18:01:27</td>   <td>-13050</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.closeApp()[pri:0, instance:com.framework.testcases.TC001@5383967b]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@1857815974</td>   <td></td> </tr>
<tr bgcolor="9bd5b0">  <td>19/03/03 18:01:40</td>   <td>-438</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.closeApp()[pri:0, instance:com.framework.testcases.TC001@5383967b]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@1857815974</td>   <td></td> </tr>
<tr bgcolor="82f6ef">  <td>19/03/03 18:01:22</td>   <td>-18287</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001.login(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.framework.testcases.TC001@5383967b]">login</td> 
  <td>main@1857815974</td>   <td></td> </tr>
<tr bgcolor="82f6ef">  <td>19/03/03 18:01:34</td>   <td>-6099</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001.login(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.framework.testcases.TC001@5383967b]">login</td> 
  <td>main@1857815974</td>   <td></td> </tr>
<tr bgcolor="82f6ef">  <td>19/03/03 18:01:10</td>   <td>-29891</td> <td>&nbsp;</td><td title="&gt;&gt;TC001.setdata()[pri:0, instance:com.framework.testcases.TC001@5383967b]">&gt;&gt;setdata</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1857815974</td>   <td></td> </tr>
</table>
